<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMA Distribution</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'shop/styles/screen.css' %}">
</head>
<body>
    <div id="header">
        <img class="logo" src="{% static 'shop/images/logo1.png' %}">
        <form class="search" action="{% url 'index' %}" method="get">
            <input type="text" name="q" value="{{ filter }}">
            <button type="submit">Search</button>
        </form>
    </div>
    <div id="categories">
        <ul>
            <li><a href="{% url 'index' %}">All</a></li>
            {% for category in Categories %}
            <li><a href="{% url 'categories' category.id %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <h1>{{ title }}</h1>
    {% block main %}
    {% endblock %}
    <div id="footer">
        <p>&copy; 2026 OMA Distribution. All rights reserved.</p>
    </div>
</body>
</html>